ul#continents {
	list-style: none;
	background: url(../images/map.png) no-repeat 0 0;
	position: relative;
	width: 767px;
	height: 409px;	
	margin: 0;
	padding: 0;
}

ul#continents li {
	position: absolute;
}

ul#continents li a{
	display: block;
	height: 100%;
	text-decoration: none;
}

#aguascalientes {
width: 19px;
height: 21px;
top: 237px;
left: 436px;
}

#bajaNorte {
	width: 74px;
	height: 109px;
	top: 2px;
	left: 172px;
}

#bajaSur {
	width: 102px;
	height: 120px;
	top: 103px;
	left: 203px;
}

#campeche {
	width: 69px;
	height: 69px;
	top: 269px;
	left: 650px;
}

#chiapas {
	width: 82px;
	height: 78px;
	top: 331px;
	left: 619px;
}

#chihuahua{
	width: 110px;	
	height: 137px;
	top: 32px;
	left: 316px;
}

#coahuila {
	width: 83px;
	height: 139px;
	top: 78px;
	left: 414px;
}

#colima  {
	width: 28px;
	height: 22px;
	top: 302px;
	left: 397px;
}

#df {
	width: 32px;
	height: 22px;
	top: 300px;
	left: 506px;
}

#edomex {
	width: 28px;
	height: 43px;
	top: 287px;
	left: 482px;
}

#durango  {
	width: 94px;
	height: 102px;
	top: 143px;
	left: 350px;
}

#guanajuato {
	width: 51px;
	height: 47px;
	top: 252px;
	left: 450px;
}

#guerrero  {
	width: 88px;
	height: 59px;
	top: 317px;
	left: 449px;
}

#hidalgo {
	width: 41px;
	height: 45px;
	top: 264px;
	left: 495px;
}

#jalisco {
	width: 89px;
	height: 85px;
	top: 240px;
	left: 376px;
}

#michoacan  {
	width: 80px;
	height: 58px;
	top: 284px;
	left: 414px;
}

#morelos {
	width: 22px;
	height: 22px;
	top: 310px;
	left: 502px;
}

#nayarit  {
	width: 37px;
	height: 57px;
	top: 223px;
	left: 377px;
}

#nuevoleon {
	width: 57px;
	height: 103px;
	top: 122px;
	left: 468px;
}

#oaxaca  {
	width: 99px;
	height: 60px;
	top: 321px;
	left: 526px;
}

#puebla {
	width: 52px;
	height: 68px;
	top: 273px;
	left: 526px;
}

#quintanaroo  {
	width: 53px;
	height: 91px;
	top: 242px;
	left: 712px;
}

#queretaro {
	width: 35px;
	height: 40px;
	top: 258px;
	left: 482px;
}

#sanluis  {
	width: 82px;
	height: 77px;
	top: 194px;
	left: 448px;
}

#sinaloa  {
	width: 81px;
	height: 106px;
	top: 135px;
	left: 305px;
}

#sonora  {
	width: 122px;
	height: 146px;
	top: 7px;
	left: 210px;
}

#tabasco {
	width: 70px;
	height: 30px;
	top: 317px;
	left: 618px;
}

#tamaulipas  {
	width: 60px;
	height: 120px;
	top: 123px;
	left: 490px;
}

#tlaxcala  {
	width: 23px;
	height: 16px;
	top: 298px;
	left: 521px;
}

#veracruz  {
	width: 109px;
	height: 115px;
	top: 239px;
	left: 522px;
}

#yucatan{
	width: 60px;
	height: 44px;
	top: 247px;
	left: 690px;
}

#zacatecas  {
	width: 72px;
	height: 91px;
	top: 180px;
	left: 405px;
}

ul#continents li a:hover {
	background: url(../images/map.png) no-repeat 0 0;
}

ul#continents li#aguascalientes a:hover {
	background-position: -440px -818px;
}

ul#continents li#bajaNorte a:hover {
	background-position: 0px -510px;
}

ul#continents li#bajaSur a:hover {
	background-position: -4px -635px;
}

ul#continents li#campeche a:hover {
	background-position: -703px -952px;
}

ul#continents li#chiapas a:hover {
	background-position: -721px -1115px;
}

ul#continents li#chihuahua a:hover {
	background-position: -220px -530px;
}

ul#continents li#coahuila a:hover {
	background-position: -364px -575px;
}

ul#continents li#colima a:hover {
	background-position: -393px -930px;
}

ul#continents li#df a:hover {
	background-position: -580px -971px;
}

ul#continents li#durango a:hover {
	background-position: -256px -688px;
}

ul#continents li#guanajuato a:hover {
	background-position: -426px -859px;
}

ul#continents li#guerrero a:hover {
	background-position: -481px -1053px;
}

ul#continents li#hidalgo a:hover {
	background-position: -546px -909px;
}

ul#continents li#jalisco a:hover {
	background-position: -323px -843px;
}

ul#continents li#edomex a:hover {
	background-position: -521px -988px;
}

ul#continents li#michoacan a:hover {
	background-position: -435px -924px;
}

ul#continents li#morelos a:hover {
	background-position: -598px -1045px;
}

ul#continents li#oaxaca a:hover {
	background-position: -588px -1097px;
}

ul#continents li#puebla a:hover {
	background-position: -640px -968px;
}

ul#continents li#queretaro a:hover {
	background-position: -508px -863px;
}

ul#continents li#quintanaroo a:hover {
	background-position: -791px -924px;
}

ul#continents li#sanluis a:hover {
	background-position: -484px -763px;
}

ul#continents li#sinaloa a:hover {
	background-position: -151px -688px;
}

ul#continents li#sonora a:hover {
	background-position: -78px -504px;
}

ul#continents li#tabasco a:hover {
	background-position: -716px -1048px;
}

ul#continents li#tamaulipas a:hover {
	background-position: -484px -631px;
}

ul#continents li#tlaxcala a:hover {
	background-position: -614px -956px;
}

ul#continents li#veracruz a:hover {
	background-position: -583px -819px;
}

ul#continents li#yucatan a:hover {
	background-position: -760px -855px;
}

ul#continents li#zacatecas:hover {
	background-position: -359px -747px;
}

ul#continents li a span {
	display: none;
}

ul#continents li a:hover span {
	display: block;
}

ul#continents li a:hover span {
	display: block;
	padding: 5px;
	width: 150px;
	background: #000;
	position: relative;
	top: 50%;
	font: 11px Arial, Helvetica, sans-serif;
	opacity: .75;
	filter:alpha(opacity=75);
	color: #FFF;
}

ul#continents li a:hover span strong {
	display: block;
	margin-bottom: 2px;
	font-size: 12px;
	text-decoration: underline;
}
