.sf-menu, .sf-menu * {margin:0;padding:0;list-style:none;}
.sf-menu li {float:left; position:relative; }
	.sf-menu li a {display:block;color:#000; font-size:20px; line-height:1.2em;padding:7px 17px 12px 18px}
	.sf-menu li.arrow a { padding:0 0 1px 0;}
	.sf-menu li.arrow a span{ display:block; background:url(../images/menu-arrow1.png) 50% 100% no-repeat;padding:7px 17px 11px 18px}
	.sf-menu li.user {padding:13px 25px 10px 10px}
	.sf-menu li.user a{  background:url(../images/user.png) 0 0 no-repeat; width:13px; height:14px; padding:0;}
			.sf-menu li.sfHover a,.sf-menu li a:hover{ background:#f7f7f7;}
			.sf-menu li.user a:hover{ background:url(../images/user.png) 0 -14px no-repeat}
			.sf-menu li.current a{color:#EC8810; background:none;}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	z-index:		99;
	width:			250px; 
	display:none;
	background:#f7f7f7;
	padding:15px 0;
}
.sf-menu li li{padding:0; width:100%;}
	.sf-menu li li a,.sf-menu li.sfHover li a,.sf-menu li.current li a{display:block;color:#000; padding:3px 15px 5px;}
	.sf-menu li li.arrow a { padding:0;}
	.sf-menu li li.arrow a span{ display:block; background:url(../images/menu-arrow2.png) 95% 50% no-repeat;padding:3px 15px 5px;}
		.sf-menu li li a:hover,.sf-menu li li.sfHover a,.sf-menu li li.current a{color:#fff; background:#000;}
.sf-menu ul ul {
	position:		absolute;
	top:			-999em;
	z-index:		99;
	width:			164px; 
	display:none;
	background:#f7f7f7;
	padding:0;
}
	.sf-menu li li li{padding:0; width:100%;}
	.sf-menu li li li a,.sf-menu li li.sfHover li a,.sf-menu li li.current li a{color:#000000;background:#f7f7f7;padding:3px 15px 5px;}
		.sf-menu li li li a:hover,.sf-menu li li li.current a{color:#fff; background:#000;}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0px;
	top:			43px; /* match top ul list item height */
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			164px; /* match ul width */
	top:			0px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			00px;
}