input[type="text"],input[type=password],select,textarea{font-family:Arial, Helvetica, sans-serif;color:#000;font-size:1em;vertical-align:middle;font-weight:normal;padding:8px 7px 7px;margin:0;background:#fff;border:1px solid #ee6638;outline:none;width:284px;}
/* Contact form */
#contact-form{position:relative; padding:2px 0 0 0;}
	#contact-form fieldset{border:none;padding:0}
	#contact-form label {display:block;min-height:40px;}
		#contact-form input{ width:254px;}
		#contact-form textarea{height:166px;overflow:auto;width:254px; resize:none;}
		#contact-form .message{min-height:180px;}
.buttons{position:relative; overflow:hidden; padding:15px 0 0 0;width:270px; text-align:right;}
	.buttons span{position:relative; overflow:hidden; margin-left:15px;}
.success, .error, .empty{display:none; text-align:left;}
.error, .empty{position:relative; color:#ee6638; font-size:11px; top:0px; left:0px;}
.success, .success strong{ color:#000;}
/* Search form */	
#search{ padding:25px 0 50px 1px;}
#search input{ width:225px; background:#eae7e9; border:none; border-left: 1px solid #bab8b9; border-top: 1px solid #bab8b9; color:#000;padding:6px 7px;}
#search .button{ margin:0 0 0 3px;padding:5px 20px 6px 19px;vertical-align: middle;}
/* Newsletter-form */
#newsletter-form fieldset{border:none}
#newsletter-form label{color:#909090;font-size:12px;display:block;margin-bottom:5px;}
#newsletter-form input[type=text]{width:202px;margin-right:1px;padding:7px 9px;}
#newsletter-form a{vertical-align:middle;width:30px;height:30px;display:inline-block;background-color:#000;background-image:url(../images/newsletter.png);background-position:50% 50%;background-repeat:no-repeat;}
#newsletter-alt-form fieldset{border:none}
#newsletter-alt-form input[type=text]{width:215px;margin-right:12px;}
#newsletter-alt-form a{vertical-align:middle;}